#js-map-container {
    height: calc(100vh - 56px);
    width: auto;
    background-color: gray;
}

#js-map-bar {
    z-index: 999;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    background-color: rgba(00, 130, 130, 0.8);
    color: white;
    width: 100%;
}

.info-panel {
    font-size: 12px;
}

.custom-size {
    width: 90%;
    font-size: 16px;
}

.bubble-title, 
.bubble-description {
    font-size: 14px;
}

.marker-ribbon {
    --ribbon-size: 10px;
    --ribbon-padding: 5px;
    padding: var(--ribbon-padding);
    padding-inline-start: calc(var(--ribbon-size) + var(--ribbon-padding));
    border-radius: 5px;
    background-color: #00ced1;
    color: #fff;
    width: fit-content;
    clip-path: polygon(0 0, var(--ribbon-size) 50%, 0 100%, 100% 100%, 100% 0);
}


@media (max-height: 400px) {
    .custom-size {
        width: 80%;
    }
}
